/* General container styles */
div {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* List styling */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Text styling */
strong {
    color: #555;
}

.delete-record-button{
    background-color: #dc3545;
    color: white;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-record-button:hover{
    background-color: #c82333;
}

p {
    text-align: center;
    color: #888;
    font-size: 1.2em;
}